body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    color: black;
}

.item {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
}

header {
    background-color: #703081;
    color: #ffffff;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fixed-navbar {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 padding: 10px;
 display: flex;
 justify-content: flex-start;
}

.logo {
    margin-right: 50px;
}

.fixed-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.fixed-navbar ul li {
    margin-left: 25px;
    font-size: x-large;
}

.fixed-navbar ul li:hover{
    box-shadow: 0 0 1em #aaa;
}

.fixed-navbar ul li:first-child {
    margin-left: 500px;
}

.fixed-navbar ul li a {
    color: #ffffff;
    text-decoration: none;
}

main{
    margin-top: 60px;
}
